.aside {
  padding: 0 0 0 2em;

  &--single-article {
    border-left: 1px solid grey;
    max-width: 30vw;
  }

  .aside-featured {
    &__title {
      margin-bottom: 0.3em;
    }
    .box-featured {
      display: flex;
      padding-bottom: 1em;
      &__img {
        width: 100px;
        height: 125px;
        background-size: cover;
        padding-right: 0.5em;
      }
      .featured-article {
        display: flex;
        flex-direction: column;
        &__category {
          color: blue;
          padding-bottom: 0.7em;
        }
        &__title {
        }
        &__date {
          color: tomato;
          margin-top: auto;
        }
      }
    }
  }

  .aside-radio {
    border: 1px solid black;
    width: 100%;
    height: 450px;
    margin-top: 1.8em;
    margin-bottom: 1em;
  }

  .aside-button {
    border: 1px solid black;
    width: 100%;
    height: 200px;
  }

  .aside-banner {
    background-color: tomato;
    height: 500px;
    width: 100%;
    margin: 3em 0;
  }

  .aside-categories {
    &__h3 {
      color: blue;
      margin-bottom: 0.5em;
    }
    .categories-list {
      list-style: none;
      .categories-list-item {
        border-top: 1px solid grey;
        padding: 0.7em 0;
        padding-right: 0.5em;
        &__link {
          color: grey;
          text-decoration: none;
        }
        &__count {
          float: right;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .aside {
    grid-column: 1 / -1;
    padding: 3em 0 0 0;
    display: flex;
    justify-content: space-between;
    &--single-article {
        border-left: none;
        max-width: 100%
      }
    .aside-featured {
      display: none;
    }
    .aside-categories {
      display: none;
    }
    .aside-radio {
      width: 60%;
      height: 200px;
      background-color: rgb(71, 0, 0);
    }
    .aside-button {
      width: 35%;
      height: 200px;
      margin-top: 1.8em;
      margin-bottom: 1em;
      background-color: rgb(71, 0, 0);
    }
    .aside-banner {
        margin: 2em 0;
    }
  }
}

@media screen and (max-width: 587px) {
  .aside {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .aside-featured {
      display: none;
    }
    .aside-radio {
      width: 100%;
      height: 200px;
      background-color: rgb(71, 0, 0);
    }
    .aside-button {
      width: 100%;
      height: 200px;
      margin-top: 1em;
      margin-bottom: 1em;
      background-color: rgb(71, 0, 0);
    }
  }
}
