.banner {
  height: 250px;
  max-height: 250px;
  padding: 0 2em 0 2em;
  margin: 0em 0 2em 0;
  overflow: hidden;
  &__img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    padding: 0;
    height: auto;
    margin: 0;
  }
}
