.footer {
  background-color: #000;
  padding: 3em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1.5em;

  .col {
    padding: 0em 1em 1em;
    .col-title {
      margin-bottom: 1em;
      color: blue;
    }
  }

  .col-1 {
    color: white;
    .logo {
      width: 200px;
      img {
        width: 100%;
      }
    }
    .col-1-info {
      padding: 1em 0 1em 0;
      &__direction {
        padding-bottom: 1em;
      }
      &__phone {
        padding-bottom: 1em;
      }
      &__email {
        padding-bottom: 1em;
      }
    }
    .socialMedia {
      display: flex;
    }
  }

  .col-2 {
    .col-category {
      list-style: none;
      color: white;
      &__list {
        padding: 0em 0em 0.5em 0em;
      }
    }
  }

  .col-3 {
    .tags {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5em;
      &__link {
        color: white;
        border: 1px solid rgba($color: rgb(179, 255, 0), $alpha: 0.2);
        text-decoration: none;
        padding: 0.5em;
      }
    }
  }

  .col-4 {
    display: flex;
    flex-direction: column;
    .col-link {
      color: white;
      padding: 0em 0em 0.5em 0em;
      text-decoration: none;
    }
  }

  .col-5 {
    grid-area: 2/ 2 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__subscribe {
      color: #eee;
    }
    &__input {
      outline: none;
      width: 50%;
      padding: 1em;
    }
  }

  .col-6 {
    color: white;
    text-align: center;
    align-self: center;
  }

  .col-7 {
    text-align: center;
    align-self: center;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 2em 1em;
    .col-5 {
      flex-direction: column;
      &__subscribe {
        font-size: 1.5em;
        padding: 0em 0em 0.5em 0em;
      }
      &__input {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .col-5 {
      grid-area: 2/1/3/-1;
    }
  }
}
