.header {
  display: flex;
  width: 95%;
  max-width: 1440px;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
  padding: 2em 0 1em 0;
  margin: auto;
  z-index: 1;

  .logo {
    width: 240px;
    &__img {
      width: 100%;
    }
  }

  .nav {
    width: 40%;
    height: 100%;
    &__list {
      display: flex;
      justify-content: space-between;
      .nav-item {
        list-style: none;
        &__link {
          text-decoration: none;
          color: white;
          &:hover {
            cursor: pointer;
            color: red;
          }
        }
      }
    }
  }

  .mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .mobile-nav {
      display: block;
      &__label {
        .spn {
          position: relative;
          background: white;
          width: 30px;
          height: 3px;
          border-radius: 5px;
          -webkit-transition: all 500ms ease;
          transition: all 0.5s ease;
        }
        .spn2 {
          margin: 5px 0;
        }
      }
      .check {
        .spn1 {
          transform: rotate(-45deg) translateZ(0);
          top: 5px;
        }
        .spn2 {
          opacity: 0;
        }
        .spn3 {
          transform: rotate(45deg) translateZ(0);
          top: -11px;
        }
      }
    }
    .nav {
      &__list {
        background-color: rgba($color: rgb(37, 35, 35), $alpha: 0.6);
        display: flex;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        opacity: 0;
        transform: translateY(-300px);
        transition: all 0.75s;
        .nav-item {
          text-align: center;
          width: 90%;
          padding: 1em;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          &:last-child {
            border: none;
          }
        }
      }
      .menu__toggle {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .fa-ellipsis-v {
      display: flex;
      padding: 0 1em;
    }
  }
}
